{% import "heat.html" as m_heat %}
{% macro racemenu(race) %}
    <!-- Sidebar -->
    <nav id="sidebar">
	<div class="btn btn-info" id="dismiss">
            <i class="fas fa-arrow-left"></i>
        </div>
        <div class="sidebar-header">
            <h3><a href="/">RaceTracker</a></h3>
        </div>

        <ul class="list-unstyled components">
        <p>{{ race.name }}</p>
        <li> Scoring </li>
        {% for racinggroup in race.racinggroups %}
            <li class="active">
                <a href="#rg{{ racinggroup.id }}Submenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">{{ racinggroup.name }}</a>
                <ul class="collapse list-unstyled" id="rg{{ racinggroup.id }}Submenu">
                {% for heat in racinggroup.heats %}
                    <li>
                        <a href="{{ request.host_url }}race/{{ race.id }}/heat/{{ heat.id }}/scoring">{{ heat.name }} ({{ m_heat.heat_status_text(heat) }})</a>

                    </li>
                {% endfor %}
                    <li>
                        <a id="addHeat" data-id="{{ racinggroup.id }}" href="#">Add Heat</a>
                    </li>
                </ul>
            </li>
        {% endfor %}
            <li>
                <a href="{{ request.host_url }}race/{{ race.id }}">Configure</a>
            </li>
            <li>
                <a href="{{ request.host_url }}race/{{ race.id }}/live">Live</a>
            </li>
        </ul>

    </nav>
{% endmacro %}

