{% macro racemenu(race) %}
<div class="wrapper">
    <!-- Sidebar -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3>RaceTracker</h3>
        </div>

        <ul class="list-unstyled components">
        <p>{{ race.name }}</p>
        <li> Scoring </li>
        {% for racinggroup in race.racinggroups %}
            <li class="active">
                <a href="#rg{{ racinggroup.id }}Submenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">{{ racinggroup.name }}</a>
                <ul class="collapse list-unstyled" id="rg{{ racinggroup.id }}Submenu">
                {% for heat in racinggroup.heats %}
                    <li>
                        <a href="{{ request.host_url }}race/{{ race.id }}/heat/{{ heat.id }}/scoring">Heat {{ heat.starttime }}</a>
                    </li>
                {% endfor %}
                    <li>
                        <a href="#">Add Heat</a>
                    </li>
                </ul>
            </li>
        {% endfor %}
            <li>
                Configure
            </li>
        {% for racinggroup in race.racinggroups %}
            <li class="active">
                <a href="#rg{{ racinggroup.id }}Configure" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">{{ racinggroup.name }}</a>
                <ul class="collapse list-unstyled" id="rg{{ racinggroup.id }}Configure">
                    <li>
                        <a href="#">Participants</a>
                    </li>
                    <li>
                        <a href="#">Marks</a>
                    </li>
                </ul>
            </li>
        {% endfor %}
            <li>
                <a href="{{ request.host_url }}race/{{ race.id }}/live">Live</a>
            </li>
        </ul>

    </nav>
</div>
{% endmacro %}

